Css: 
*,
/* 
/////////////////
    CSS reset
////////////////
*/
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
}
body {
  display: relative;
}
:root {
  font-size: 52.5%;
  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}
html {
  background: rgb(1, 1, 57);
}
/* 
/////////////////
    CSS NAV
////////////////
*/
nav {
  background: orangered;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-title {
  font-size: 4rem;
}
.nav-subtitle {
  font-size: 2rem;
}
/* 
/////////////////
    CSS MAIN
////////////////
*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
/////////////////
    CSS Info
////////////////
*/
.info {
  margin-top: 7rem;
  font-size: 2rem;
}
/* 
 /////////////////
    CSS ANIMATION
 ////////////////
*/
.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  width: 400px;
  height: 250px;
  background: linear-gradient(0deg, #000, #262626);
}
.shadow:before,
.shadow:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.board {
  width: min(500px, 90vw);
  height: min(500px, 90vw);
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0);
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.box {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  background: black;
  font-size: 10rem;
  display: grid;
  place-content: center;
  color: black;
}
.box:hover {
  background: rgba(0, 0, 0, 0);
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: cyan;
}
/* Reset button */
.button {
  width: unset;
  height: unset;
  margin-top: 4rem;
  padding: 1rem;
  background: black;
  font-size: 3rem;
  border: 1rem white;
  cursor: pointer;
  transition: 0.5s background;
}
.button:hover {
  background: rgb(0, 0, 0, 0);
}
/* Option container */
.options-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  top: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.options {
  background: rgba(0, 0, 0, 0.658);
  font-size: 5rem;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  backdrop-filter: invert(100%);
}
input[type='radio'] {
  border: 0px;
  width: 50%;
  height: 3em;
  accent-color: orange;
}
input {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
.player-sign-input {
  width: 100px;
  height: 100px;
  border: none;
  font-size: 5rem;
  text-align: center;
}
.number-of-rounds {
  font-size: 2.5rem;
}
.rounds-number-input {
  width: 60px;
  font-size: 2rem;
  padding: 10px;
  mouse-events: none;
}
.radio-buttons {
  text-align: right;
}
.hidden {
  display: none;
}
