/* 
/////////////////
    CSS reset
////////////////
*/
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
}
body {
  display: relative;
}
:root {
  font-size: 52.5%;
  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}
html {
  background: rgb(1, 1, 57);
}
.animated-background {
  animation: changeBackground 3s linear infinite alternate;
}
/* 
/////////////////
    CSS MAIN
////////////////
*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* 
/////////////////
    CSS Info
////////////////
*/
.info {
  margin-top: 2rem;
  font-size: 2rem;
}
/* 
 /////////////////
    CSS ANIMATION
 ////////////////
*/
.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  width: 400px;
  height: 250px;
  background: linear-gradient(0deg, #000, #262626);
}
.shadow:before,
.shadow:after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.board {
  width: min(500px, 90vw);
  height: min(500px, 90vw);
  margin-top: 2rem;
  background: rgba(0, 0, 0, 0);
  display: flex;
  display: grid;
}
.board-3x3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.board-4x4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.board-5x5 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.box {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  background: black;
  font-size: 8.5rem;
  display: grid;
  place-content: center;
  color: black;
}
.box:hover {
  background: rgba(0, 0, 0, 0);
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: cyan;
}
/* Reset button */
.button {
  width: unset;
  height: unset;
  margin-top: 4rem;
  padding: 1rem;
  background: black;
  font-size: 3rem;
  border: 1rem white;
  cursor: pointer;
  transition: 0.5s background;
}
.button:hover {
  background: rgb(0, 0, 0, 0);
}
/* Option container */
.options-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-content: center;
  top: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.options {
  background: rgba(0, 0, 0, 0.658);
  font-size: 5rem;
  padding: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  backdrop-filter: invert(100%);
}
input[type='radio'] {
  border: 0px;
  width: 50%;
  height: 3em;
  accent-color: black;
}
input {
  border: none;
  outline: none;
}
input:focus {
  border: none;
  outline: none;
}
.player-sign-input {
  width: 100px;
  height: 100px;
  border: none;
  font-size: 5rem;
  text-align: center;
}
.number-of-rounds {
  font-size: 2.5rem;
}
.rounds-number-input {
  width: 60px;
  font-size: 2rem;
  padding: 10px;
  text-align: center;
}
.radio-buttons {
  text-align: right;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.overflow-hidden {
  overflow-x: hidden;
}
/* Media queries */
@media screen and (max-width: 500px) {
  .options {
    font-size: 4rem;
    padding: 2rem;
  }
}
@media screen and (max-height: 700px) {
  .options {
    background: rgba(0, 0, 0, 0.658);
    font-size: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    gap: 2rem;
    backdrop-filter: invert(100%);
    justify-content: center;
    align-items: center;
  }

  .player-sign-input {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 2rem;
    text-align: center;
  }
  .number-of-rounds {
    font-size: 2.5rem;
  }
  .rounds-number-input {
    width: 30px;
    font-size: 2rem;
    padding: 4px;
    text-align: center;
  }
  .options .button {
    padding: 0.4rem;
    font-size: 2rem;
    width: 100%;
  }
  input[type='radio'] {
    width: unset;
    height: unset;
    accent-color: black;
  }
  .radio-buttons {
    font-size: 2rem;
  }
}
/* Player turn */
.player-turn {
  font-size: 6rem;
}
.scores {
  text-align: center;
  font-size: 4rem;
}
/* Background animation */
@keyframes changeBackground {
  from {
    background: rgb(1, 1, 57);
  }
  to {
    background: rgb(91, 4, 40);
  }
}
.counter-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgb(1, 1, 57), rgb(91, 4, 40));
  display: grid;
  place-content: center;
  color: white;
}
.counter-text {
  font-size: 15rem;
}
/* Reset module  */
.reset-module-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 1, 57, 0.591);
  backdrop-filter: blur(10px);
  display: grid;
  place-content: center;
}
.module-reset {
  background: rgba(91, 4, 40, 0.853);
  text-align: center;
  padding: 5rem;
  border-radius: 2rem;
  font-size: 3rem;
}
/* Reset button */
.reset-button {
  color: white;
  width: 120px;
  padding: 10px;
  background: rgb(1, 1, 57);
  border-radius: 6px;
}
.box-shown-winner {
  background: white !important;
  color: black !important;
}
.box-shown {
  background: black;
  color: white;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
.winner-module-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
  background: black;
}
.module-winner {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
}
.winner-text {
  font-size: 10rem;
  text-shadow: 5px 5px red;
}
.reset-winner {
  background: red;
  margin-right: auto;
  margin-left: auto;
  transform: scale(1.3);
}
